/*.container {
    display: inline;
    align-items: center;
    justify-content: center;
}

h3 {
    margin: 1rem 1rem;
    border: 1px solid rgb(161, 159, 159);
    padding: 0.3rem;
    border-radius: 1rem;    
}*/