.container {
    height: 100%;
}

.sidenav {
    width: 13rem;
    color: white;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(26,67,210,1) 0%, rgba(0,198,255,1) 75%);
}

.sidenav a {
    color: white;
}

.sidenav i {
    margin-right: .6rem;
}

.menu {
    margin: 1rem 0 0 1rem;
    color: white;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(26,67,210,1) 0%, rgba(0,198,255,1) 75%);
}

