.container {    
    margin: auto;
    width: 95%;
    border-radius: .4rem;
    padding: 1rem 1rem 1rem 1rem;
    background-color: white;
}

table {
    width: 100%;
}

mat-form-field {
    width: 100%;
}

.edit {
    color: black;
}

mat-radio-group {
    display: flex;
    margin: 0rem 1rem 1rem;
}

mat-radio-button {
    margin-right: 1rem;
}