<div class="container mat-elevation-z6">
    
    <form class="form">
        <h2 class="fullWidth"></h2>

        <div class="row">
            <mat-form-field class="input-width-10" appearance="fill">
                <mat-label>Código</mat-label>
                <input type="number" matInput>
              </mat-form-field>
    
              <mat-form-field class="input-width-78" appearance="fill">
                <mat-label>Descrição</mat-label>
                <input 
                [(ngModel)]="produto.descricao"
                name="descricao"
                [formControl]="descricao"
                required
                matInput 
                placeholder="Produto">
              </mat-form-field>
        </div>        

        <div class="row">
          <mat-form-field class="input-width-20" appearance="fill">
            <mat-label>Quantidade</mat-label>
            <input 
            [(ngModel)]="produto.quantidade"
            name="quantidade"
            type="number" 
            matInput 
            placeholder="0,00">
          </mat-form-field>

          <mat-form-field class="input-width-20" appearance="fill">
            <mat-label>Preço</mat-label>
            <input 
            [(ngModel)]="produto.preco"
            name="preco"
            type="number" 
            matInput 
            placeholder="0,00">
          </mat-form-field>

          <mat-form-field class="input-width-20" appearance="fill">
            <mat-label>Data Cadastro</mat-label>
            <input 
            [(ngModel)]="produto.dataCadastro"
            name="dataCadastro"
            type="date" 
            matInput 
            disabled="true">
          </mat-form-field>
        </div>

        <button (click)="create()" [disabled]="!validaCampos()" class="mat-elevation-z2" mat-flat-button color="primary">Salvar</button>
        <button routerLink="../" class="mat-elevation-z2" mat-stroked-button color="warn">Cancelar</button>

    </form>

</div>