<div class="container mat-elevation-z6">
    
    <form class="form">
        <h2 class="fullWidth">Cadastro de Unidade de Medida</h2>

        <mat-divider></mat-divider>

        <div fxLayout="row" fxLayoutGap="20px">
            <mat-form-field fxFlex="10" appearance="outline">
                <mat-label>Código</mat-label>
                <input 
                disabled
                [(ngModel)]="unidadeMedida.idUnidadeMedida"
                name="idUnidadeMedida"
                type="number" 
                matInput>
            </mat-form-field>

            <mat-form-field fxFlex="70" appearance="outline">
                <mat-label>Descrição</mat-label>
                <input 
                [(ngModel)]="unidadeMedida.descricao"
                name="descricao"
                [formControl]="descricao"
                required
                type="text" 
                matInput>
            </mat-form-field>        

            <mat-form-field fxFlex="20" appearance="outline">
                <mat-label>Sigla</mat-label>
                <input 
                [(ngModel)]="unidadeMedida.sigla"
                name="sigla"
                [formControl]="sigla"
                required
                type="text"                 
                matInput>
            </mat-form-field>  
        
        </div>
      
        <button (click)="update()" [disabled]="!validaCampos()" class="mat-elevation-z2" mat-flat-button color="primary">Atualizar</button>
        <button routerLink="../../" class="mat-elevation-z2" mat-stroked-button color="warn">Cancelar</button>

    </form>

</div>