<div class="container mat-elevation-z6">
    
  <h2 class="fullWidth">Cadastro de Cliente</h2>

  <form class="form">       

      <mat-divider></mat-divider>

      <div fxLayout="row" fxLayoutGap="20px">
        <mat-form-field fxFlex="10" appearance="outline">
            <mat-label>Código</mat-label>
            <input 
            disabled="true"
            [(ngModel)]="cliente.idCliente"
            name="idCliente"
            type="number" 
            matInput>
        </mat-form-field>

        <mat-form-field fxFlex="50" appearance="outline">
            <mat-label>Nome</mat-label>
            <input 
            [(ngModel)]="cliente.nome"
            name="nome"
            [formControl]="nome"
            required
            matInput>
        </mat-form-field>

        <mat-form-field fxFlex="20" appearance="outline">
          <mat-label>CPF</mat-label>
          <input 
          [(ngModel)]="cliente.cpf"
          disabled="true"
          name="cpf"
          type="text" 
          matInput 
          placeholder="000.000.000-00"
          mask="000.000.000-00">
        </mat-form-field>

        <mat-form-field fxFlex="20" appearance="outline">
          <mat-label>Data Nascimento</mat-label>
          <input 
          [(ngModel)]="cliente.dataNascimento"
          name="dataNascimento"
          type="date" 
          matInput >
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutGap="20px">
        <mat-form-field fxFlex="40" appearance="outline">
          <mat-label>Endereço</mat-label>
          <input 
          [(ngModel)]="cliente.endereco"
          name="endereco"
          matInput>
        </mat-form-field>

        <mat-form-field fxFlex="20" appearance="outline">
          <mat-label>Telefone</mat-label>
          <input 
          [(ngModel)]="cliente.telefone"
          name="telefone"
          matInput>
        </mat-form-field>

        <mat-form-field fxFlex="20" appearance="outline">
          <mat-label>E-mail</mat-label>
          <input 
          [(ngModel)]="cliente.email"
          name="email"
          matInput>
        </mat-form-field>

        <mat-form-field fxFlex="20" appearance="outline">
          <mat-label>Data Cadastro</mat-label>
          <input 
          [(ngModel)]="cliente.dataCadastro"
          name="dataCadastro"
          type="text" 
          matInput 
          [disabled]="true">
        </mat-form-field>

      </div>
    
      <button (click)="update()" [disabled]="!validaCampos()" class="mat-elevation-z2" mat-flat-button color="primary">Atualizar</button>
      <button routerLink="../../" class="mat-elevation-z2" mat-stroked-button color="warn">Cancelar</button>

  </form>

</div>