.container {    
    margin: auto;
    width: 95%;
    border-radius: .4rem;
    padding: 1rem 1rem 1rem 1rem;
    background-color: white;
}

table {
    width: 100%;
}

mat-form-field {
    width: 100%;
}

mat-icon {
    margin: 1.8rem 0 0 0;
    position: relative;
    display: inline-block;
}

.mat-column-acoes {
    width: 50px;
    text-align: center;
    font-weight: bold;
}

.edit {
    color: black;
}

.close {
    color: rgb(223, 16, 16);
}